{{ define "main" }}
<div class="prose">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ with .Pages.ByDate.Reverse }}
  <ul class="card-list">
    {{- range . }}
    {{- $meta := slice }}
    {{- with .Params.author }}{{ $meta = $meta | append . }}{{ end }}
    {{- with .Params.level }}{{ $meta = $meta | append (printf "%s thesis" (cond (eq . "PhD") "Ph.D." (printf "%s's" .))) }}{{ end }}
    {{- with .Params.university }}{{ $meta = $meta | append (index (split . ",") 0) }}{{ end }}
    {{- with .Date }}{{ $meta = $meta | append (.Format "January 2006") }}{{ end }}
    {{- partial "card.html" (dict "page" . "meta" (delimit $meta " · ")) }}
    {{- end }}
  </ul>
  {{ end }}
</div>
{{ end }}
