[submodule "plugins/bibtex"]
	path = plugins/bibtex
	url = ../pelican-bibtex
    branch = master
[submodule "theme"]
	path = theme
	url = ../Flex
    branch = master
[submodule "plugins/bibcite"]
	path = plugins/bibcite
	url = ../../VorpalBlade/pelican-cite
